@using DnDPersoEntities
@model IEnumerable<DnDPersoEntities.Talent>
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/Scripts/Views/Talent")
<div style="width: 100%; margin-top: 30px; height: 30px;  margin-bottom: 30px;">
    <button class="btn btn-danger" style="float: right;" id="validateTalentBtn" onclick="validateTalent()">Valider</button>
</div>
@foreach (Talent talent in Model)
{
    <div class="infobox infobox-power">
        <div class="infobox-power-header">
            <div class="infobox-power-title">
                @talent.Libelle
            </div>
            <div class="infobox-power-origin">
                @Html.Raw(talent.Prerequis)
            </div>
        </div>
        @Html.Raw(talent.Html)

    </div>
}

