body {
	background-color: #424242;
	color: #424242;
}
input[type=text] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	padding-left: 5px;
}
select {
	width: 100%;
	height: 26px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #fff !important;
  box-shadow: 0 1px 1px #fff inset, 0 0 8px #fff !important;
  outline: 0 none !important;
}
.container {
	background-color: #fff;
	padding-bottom: 50px;
    min-height: 100vh;
}
#header {
	margin-top: 20px;
	margin-bottom: 70px;
	height: 75px;
}
#logo_header {
	width: 200px;
	margin-left: 470px;
	
}
.inlineBlock {
    display: inline-block;
}
#account {
	margin-top: 15px;
	float: right;
	padding: 10px;
	color: #fff;
	text-align: right;
	background-color: #C1C1C1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#account a {
	color: #993333;
}

#account_name {
	font-weight: bold;
	font-size: 20px;
}
#logout {
	cursor: pointer;
}
.text_center {
	text-align : center;
	padding-right: 5px !important;
}
.width35 {
    width: 35px;
    margin-right: 5px !important;
}
.width50 {
	width : 50px;
}
.width75 {
	width : 75px;
}
.width150 {
	width : 150px;
}
.width200 {
	width : 200px;
}
.inner_bloc_container {
	padding: 20px;
}
.span_libelle {
	padding: 10px;
	margin-left: 5px;
	margin-top: -9px;
	background-color: #dddbdb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	width: 87px;
	color: #424242;
	border: 1px solid #fff;
	text-align: center;
	display: inline-block;
	margin-right: 15px;
}
.input_bloc {
	height: 55px;
	display: inline-block;
	margin-right: 10px;
}
.input_text {
    width: 100%;
    height: 200px;
}
.input_libelle {
	float: left;
	font-size: 10px;
	line-height: 15px;
	margin-left: 2px;
	color: #fff;
	text-transform: uppercase;
}
.marginerRight5 {
	margin-right: 5px;
}
.header_bloc_title {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	color: #993333;
	height: 35px;
	padding-top: 7px;
	background-color: #fff;
	
}
.btn_DnD {
    color: #993333;
}
.mainBloc {
	background-color: #993333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 5px;
	border: 1px solid #993333;
    display: inline-block;
}
#mainBloc_1 {
	width: 100%;
	height : 200px;
	padding: 10px;
	padding-top: 20px;
}
#mainBloc_2 {
	width: 37%;
	min-height : 200px;
}
#mainBloc_3 {
	width: 25%;
	min-height : 200px;
}
#mainBloc_4 {
    width: 25%;
}
#character_picture {
	border: 1px #424242 solid;
}

/* Pouvoir/index */

#searchPanel select {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
}
#Niveau {
    width: 50px;
}
.headerSpelltype {
    width: 100%;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    background-color: #993333;
    height: 40px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 5px;
}
/* Bloc pouvoir DnD Wiki */

.infobox {
    border: 1px solid #993333;
    border-collapse: collapse;
    background-color: #fff;
    color: black;
    margin-bottom: 0.5em;
    margin-left: 1em;
    padding: 0.2em;
    display: inline-block;
    width: 240px;
}
.infobox-power .infobox-power-header {
    background: #981332;
    color: #FFF;
}
.infobox-power-at-will .infobox-power-header {
    background: #649769;
}
.infobox-power-daily .infobox-power-header {
    background: #4C4C4E;
}
.infobox-power .infobox-power-header .infobox-power-title {
    font-weight: bold;
    float: left;
    margin-left: 1em;
}
.infobox-power .infobox-power-header .infobox-power-origin {
    text-align: right;
    margin-right: 1em;
}
.infobox-power {
    width: 360px;
    border-color: #981332;
}
.clearboth {
    clear: both;
}
.hanging {
    padding-left: 1em;
    text-indent: -1em;
}

/*login*/
#contentAuthBloc {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #e1e1e1;
    padding: 20px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#contentAuthBloc img {
    width: 250px;
    margin-left: 55px;
    margin-bottom: 20px;
}
#authFormLogin {
    margin-bottom: 10px;
}
#authFormPassword,
#authFormLogin {
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	padding-left: 5px;
}
#loginAuthConnexion {
    margin-left: 133px;
    margin-top: 20px;
}

/*character choice*/
#SelectCharacterBloc {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #e1e1e1;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#TitleSelectCharacterBloc {
    color: #d2322d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.CharacterSheetBloc {
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    width: 340px;
     background-color: #fff;
    padding: 10px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    border: 1px solid #d2322d;
    margin-right: 22px;
}
.CharacterAddBloc {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 710px;
     background-color: #fff;
    padding: 10px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    border: 1px solid #d2322d;
}
.CharacterAddBloc img{
    height: 50px;
    margin-right: 20px;
}
.CharacterSheetBloc img {
    height: 110px;
    float: left;
    margin-right: 20px;
}
.CharacterAddBloc span,
.CharacterSheetBloc span {
    font-weight: bold;
}
.displayerCharacterBloc {
    display: inline-block;
    padding-top: 15px;
    text-transform: capitalize;
    width: 170px;
}

.highLight{
    background-color: #333333;
}
/*encart*/
#encartPouvoirs {
    width: 200px;
}
#inner_Bloc_Pouvoir input,
#encartPouvoirs input {
    width: 25px;
    height: 27px;
    float: right;
    color: #993333;
    
}
.header_bloc_title input {
    margin-right: 10px;
}
#inner_Bloc_Pouvoir {

    padding: 10px;
}
#inner_Bloc_Pouvoir div {
    height: 30px;
    color: #fff;
}
.spanLibelle {
    padding-top: 5px;
    display: inline-block;
}

#encartCompetences {
    color: #fff;
    width: 30%;
}
.encoartCompetenceInputBloc {
    float: right;
}