@using DnDPersoEntities
@model List<DnDPersoEntities.AllPouvoirByIdPersonnage>
<div>
   
        @foreach (AllPouvoirByIdPersonnage pouvoir in @Model)
        {

            <div id="pourvoir_@pouvoir.Id"> @pouvoir.Libelle
                </div>

        }

    
</div>