@using DnDPersoEntities
@model List<DnDPersoEntities.AllAptitudes>

@foreach (AllAptitudes aptitude in Model)
{
    <div class="infobox infobox-power">

        <div class="infobox-power-header">
            @aptitude.Libelle
            <div class="infobox-power-title">
            </div>
            <div class="infobox-power-origin">
            </div>
        </div>
        <div class="descApt">
            @Html.Raw(aptitude.Description)
        </div>
    </div>
}