@using DnDPersoEntities
@model List<DnDPersoEntities.AllTalentByIdPersonnage>

@foreach (AllTalentByIdPersonnage talent in @Model)
{
    <div class="infobox infobox-power">
        <div class="infobox-power-header">
            <div class="infobox-power-title">
                @talent.Libelle
            </div>
            <div class="infobox-power-origin">
                @Html.Raw(talent.Prerequis)
            </div>
        </div>
        @Html.Raw(talent.Html)
        
    </div>
    <input type="button" onclick="deleteTalent(@talent.Id)" style="padding-top: 4px;" value="-" />
}
