@using DnDPersoEntities
@model List<DnDPersoEntities.AllCompetenceByIdPersonnage>

@foreach (AllCompetenceByIdPersonnage compe in @Model)
{
    <div>
        <p>
           @Html.Label(compe.Libelle, compe.Libelle)
            @Html.CheckBox("checkBox_Former", compe.Former)
        </p>
    </div>
}
