
@{
    ViewBag.Title = "Liste pouvoirs";
}

@Scripts.Render("~/bundles/Scripts/Views/Pouvoir")

<h2>Liste pouvoirs</h2>

<div id="searchPanel">
    @Html.DropDownList("listClasses", (List<SelectListItem>)ViewData["listClasses"], new { @class = "input_characterClass" })
    <input type="text" id="Niveau" />
    <button class="btn" id="searchPouvoirBtn" onclick="searchPouvoir()">Rechercher</button>
</div>
<div id="containerPouvoir"></div>